@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body {

	background-color: black;
	animation-name: fade_in;
	animation-duration: 1.2s;

}

.slide {

	animation-name: slide_down;
	animation-duration: 1.2s;
}

.title {

	color: white;
	font-size: 150px;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;

}

.slogan {


	color: white;
	font-size: 30px;
	margin-top: -120px;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;

}

.projects {

	display: flex;
	justify-content: center;

}

.projects_title {

	color: white;
	font-size: 50px;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;

}

.projects_images, .members_images {

	width: 100px;
	height: 100px;
	flex-grow: 1;
	transition: 0.3s;
	margin-left: 5px;
	margin-right: 5px;
	align-self: center;
	margin-bottom: 10px;
 
}

.members {

	display: flex;
	justify-content: center;

}

.members_title {

	color: white;
	font-size: 50px;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;

}

.member {

	margin: 10px;
	display: flex;
	max-width: 200px;
	align-items: center;
	flex-direction: column;

}

.project_name, .member_name {
  
	margin: 0;
	color: white;
	padding: 10px;
	font-size: 20px;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;

}

.projects_images:hover, .members_images:hover { 

	margin-top: -5px;
	box-shadow: 5px 5px 5px white;

}

@keyframes fade_in {

	from {

		opacity: 0%;

	}

	to {

		opacity: 100%;

	}

}

@keyframes slide_down {


	from {

		margin-top: -20px;

	}

	to {

		margin-top: 0px;

	}

}